{% extends 'base.html.twig' %}

{% block title %}
    Show Food
{% endblock title %}

{% block body %}

<div>
    <h1>
    Food Name: {{food.Description}}
    </h1>
    <div >
        <p>
            Author: {{food.User.email}}
        </p>
        <p>
            Restaurant: {{food.Restaurant}}
        </p>
        <p>
            Item name: {{food.Description}}
        </p>         
        <p>
            ServingSize: {{food.ServingSize}}
        </p>

        <div>
        <a href = "/food/edit/{{food.id}}">
            Edit
        </a>
    </div>
</div>

{% endblock body %}