{% extends "./base.html.twig" %}

{% block body %}
    <div>
        <div>
            {# {{app.user.email}} #}
            <h1>
                Nutrients ({{nutrients|length }})
            </h1>
        </div>
    </div>

    <div >
        <a 
            href="/nutrients/create" >
            Create New nutrient
        </a>
    </div>
    <div>
        <!-- Review Item -->
        {% for nutrient in nutrients %}
            <div>

                <h2>
                    {{ nutrient.name }}
                </h2>

                <p>
                    {{ nutrient.id}}
                </p>

                <a href="/nutrients/{{nutrient.id }}">
                    See more
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}